@{
    ViewData["Title"] = "Index";
}

<div class="panel panel-success">
    <div class="panel-heading panel-head">
        Pesquisar Repositórios do GitHUB
    </div>
    <div class="panel-body">

        <div class="row">

            <div class="col-lg-4">
                @Html.ActionLink("Pesquisar Repositórios Via HTTP API", "HttpIndex", "Search", null, new { @class = "btn btn-success" })                
            </div>
            <div class="col-lg-4">
                @Html.ActionLink("Pesquisar Repositórios Via OctoKit", "OctoKitIndex", "Search", null, new { @class = "btn btn-warning" })
            </div>
        </div>

    </div>
</div>

